<h1>You will be</h1>
<p><%= @user.name %>さん、</p>
<p>あなたが1週間で<%=@user.week_time%>時間ずつ積み上げることができれば</p>
<p><%=@required_week%>週間（<%=@required_month%>ヶ月）後の、<%= @achievement_date %>に<%=@goal.name%>になっているかもしれません</p>

<%= link_to "はじめる" , user_path(current_user.id) %>