<h1>You will be</h1>
<p><%= @user.name %>さん、あなたは<%=@required_week%>週間（<%=@required_month%>ヶ月）で<%=@goal.name%>になれるかもしれません</p>
<p>1週間で<%=@user.week_time%>時間</p>

<%= link_to "はじめる" , user_path(current_user.id) %>