<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
<%= stylesheet_link_tag "book/page_top", :media => "all" %>
<div class="title_area">
  <div class="title_area__title">
    <h1>You will be...?</h1>
  </div>

  <% if request.path.slice(0..6) == "/users/" && request.path.slice(7..14) != "rankings" %>
    <div class="title_area__ranking_button">
    <%= link_to "ランキングページへ", users_rankings_path , class: "btn btn-success" %>
    </div>
  <% elsif request.path.slice(0..15) == "/users/rankings" %>
    <div class="title_area__ranking_button">
    <%= link_to  "マイページへ", user_path(current_user.id) ,class: "btn btn-primary"%>
    </div>
    <div class="title_area__ranking_button">
    <%= link_to "全体ランキングへ", users_ranking_path(current_user.id) , class: "btn btn-danger" %>
    </div>
  <% elsif request.path.slice(0..15) == "/users/rankings/"%>
    <div class="title_area__ranking_button">
    <%= link_to  "マイページへ", user_path(current_user.id) ,class: "btn btn-primary" %>
    </div>
    <div class="title_area__ranking_button">
    <%= link_to "ランキングページへ", users_rankings_path , class: "btn btn-success" %>
  </div>
  <% end %>

  <div class="title_area__logout_button">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %>
  </div>


</div>
<div class="menubar">
  <p class="guide_message"><%= guide_message %></p>
</div>