 <%= render partial: "template/page_top",  locals: {guide_message: "#{@user.name}さんと同じく#{@goal.name}を目指しているひとたち"}%>
<%= stylesheet_link_tag "book/ranking_page", :media => "all" %>

<div class="message">

</div>
<br>
<div class="ranking_area">
<% @same_goal_users.each.with_index(1) do |(user, total_time), index| %>
  <%= link_to user_path(user.id) ,class: "link" do %>
    <div class="ranking_panel">
    <%= index %>位  <%= user.name%>さん <%= total_time %>時間  <br>
    </div>
  <% end %>
<% end %>
</div>


