<% if @user.id == current_user.id %>
<%= render partial: "template/page_top",  locals: {guide_message: "#{@user.name}さん#{@greeting}　#{@progress_message}"}%>
<% else %>
<%= render partial: "template/page_top",  locals: {guide_message: "#{@user.name}さんのマイページ"}%>
<% end %>

<div class="message">
<p>本日は<%= @goal.name %>になるためにとりくみ始めてから<strong><%= @date %>日目</strong>ですね　　<% if current_user.id == @user.id %><%= link_to "作成者の自己紹介ページへ", new_author_path,class: "self_introduce" %><% end %></p> 

</div>

<div class="contents">
<div class="left_content">
<!--最速で目標達成できる日付も書いておこう-->
<h2 class="progress_rate" >進捗率:  <%= @progress_rate.round(5) %>%</h2>

<% if @user.id == current_user.id %>
<div class="input_area">
<%= form_for @y_time do |form| %>
  <div class="input_time"><%= form.text_field :time, placeholder: "3.5", type: "number", min:"0" %>時間</div><br>
  <div><%= form.text_field :note, placeholder: "メモ(任意)",class: "input_memo" %></div><br>
  <div ><%= form.submit "記録する", class: "submit_button"%></div>
<% end %>
</div>   <!--バリデーションをあとで設定する--><!--間違えた時の削除機能も追加する-->
<% else %>
<div class="input_area">
<%= form_for @y_time do |form| %>
  <div class="input_time"><%= form.text_field :time, placeholder: "3.5", type: "number", min:"0" , readonly: true %>時間</div><br>
  <div><%= form.text_field :note, placeholder: "メモ(任意)",class: "input_memo" , readonly: true %></div><br>
  <div ><%= form.submit "記録する" ,class: "submit_button disabled_button",type: "disable", readonly: true %></div>
<% end %>
</div>
<% end %>

<div class="y_times">
<p class="total_time">Total: <%= @total_time.round(1) %>時間</p>
  <div class="y_times__scroll">
  <% @user.y_times.order(id: "DESC").each do |y_time| %>
    <%= y_time.time.round(1) %>時間  <%= y_time.created_at.strftime('%y/%m/%d') %> 
    <%if y_time.note.present? %>
      <%= ": #{y_time.note}" %>
    <% end %>
    <br>
  <% end %>
  </div>
</div>
<br>
</div> <!-- left_content ここまで -->


<div class ="right_content">

<div class='tabs'>
  <div class='tab-buttons'>
    <span class='content1'>進捗率</span>
    <span class='content2'>日ごと(棒)</span>
    <span class='content3'>日ごと(円)</span>
    <span class='content4'>曜日ごと</span>
    <span class='content5'>トータル</span>

    <div id='lamp' class='content1'></div>
  </div>
  <div class='tab-content'>
    
    <div class='content1'><h3>進捗率</h3>
<%= line_chart @daily_progress_data, width: "450px", height: "350px", suffix: "%" , colors: ["#DB077F", "#DB077F"]%></div>
    
    <div class='content2'><h3>入力日ごとの時間</h3>
<%= column_chart @column_data, discrete: true, width: "450px", height: "350px", suffix: "h" , colors: ["#0065B2", "#0065B2"] %></div>
    
    <div class='content3'><h3>入力日ごとの時間（円グラフ）</h3>
<%= pie_chart @pie_data,width: "450px", height: "350px" , legend: false  , suffix: "h" %></div>

    <div class='content4'><h3>曜日ごとの積み上げ時間（0:Sun,1:Mon,2:Tue,3:Wed...）</h3>
<%= scatter_chart @sca_data,  width: "450px", height: "350px" , suffix: "h" , colors: ["#b00", "#666"] %></div>

    <div class='content5'><h3>これまでに積み上げた時間</h3>
<%= area_chart @daily_total_data,width: "450px", height: "350px", suffix: "h", curve: false  %></div>
  </div>
</div>
<div class='credit'>
</div> <!--right_content-->
</div> <!-- contents --> 
<%= stylesheet_link_tag "book/personal_page", :media => "all" %>
<%= javascript_include_tag 'book/personal_page.js' %>