<a href=http://localhost:3000><h1>You will be</h1></a>
<p>あなたがなりたいものを教えてください</p>


<%= form_for @goal do |form| %>
  <%= form.text_field :name, placeholder: "なりたいもの" %>
  <%= form.text_field :time, placeholder: "かかる時間" %>
  <%= form.text_field :image, placeholder: "イメージ画像" %>
  <%= form.submit "SEND" %>
<% end %>
<br>