<a href=http://localhost:3000><h1>You will be</h1></a>
<p>あなたがなりたいものを選んでください</p>

<% @goals.each do |goal| %>
  <div><p><%=goal.name%>: <%=goal.time%>時間 挑戦中:<%=goal.users.count%>人 <br><%= image_tag goal.image, :size =>'150x150' %></p></div>
<% end %>

<%= form_for @user do |f| %>
<%= f.collection_radio_buttons :goal_id, Goal.all, :id, :name %>
<%= f.submit "SEND" %>
<% end %>

<br>
<%= link_to "目標を自分で設定する" , new_goal_path %>