<%= stylesheet_link_tag "book/select_goal", :media => "all" %>
<%= form_for @user do |f| %>

<h1>You will be...?</h1>
<div class="message">
<p>あなたがなりたいものを選んでください</p>
<p>一覧になければ自分で作ることもできます</p>
</div>

<div class="contents">
<ul class="horizontal-list">
  <% @goals.each do |goal| %>
      <li class="choices">
        <label>
        <div class="text">
        <p><%= f.radio_button :goal_id, goal.id %><%=goal.name%> <br><%=goal.time%>時間 <br>挑戦中:<%=goal.users.count%>人 <br><%= image_tag goal.image, :size =>'200x200' %>
        </p>
        </div>
        </label>
      </li>
  <% end %>
    
</ul>
</div>



<br>
<div class="submit_button">
<%= f.submit "決定!!", class: "button" %>
</div>
<% end %>
</div>
<br><br>

<div class="create_goal">
<p>自分で作る</p>
<%= form_for @goal do |form| %>
  <%= form.text_field :name, placeholder: "なりたいもの" ,class: "input_form" %>
  <%= form.text_field :time, placeholder: "かかる時間" ,class: "input_form" %>
  <%= form.text_field :image, placeholder: "イメージ画像" ,class: "input_form_image" %>

  <span class="create_goal_button">
  <%= form.submit "作成!", class: "button2" %>
  </span>
<% end %>
</div>
