<h1>You will be</h1>
<p>あなたがなりたいものを選んでください</p>

<br>
一覧になければ自分で作ることもできます<%= link_to "目標を自分で設定する" , new_goal_path %>

<%= form_for @user do |f| %>
  <% @goals.each do |goal| %>
    <label>
    <div><p><%= f.radio_button :goal_id, goal.id %><%=goal.name%>: <%=goal.time%>時間 <br>挑戦中:<%=goal.users.count%>人 <br><%= image_tag goal.image, :size =>'150x150' %></p></div>
    </label>
  <% end %>
<%= f.submit "決定!!" %>
<% end %>