<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
 <%= render partial: "template/page_top",  locals: {guide_message: "あなたがなりたい姿を教えてください"}%>
<%= stylesheet_link_tag "book/select_goal", :media => "all" %>
<%= form_for @user do |f| %>

<div class="message">
<p class="">一覧になければ自分で作ることもできます</p>
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#post">自分で設定する</button>
</div>

<div class="contents">
<ul class="horizontal-list">
  <% @goals_ordered_list.each do |goal| %>
      <li class="choices">
        <label>
        <div class="text">
        <p><%= f.radio_button :goal_id, goal.id %><%=goal.name%> <br><%=goal.time%>時間 <br>挑戦中:<%=goal.users.count%>人 <br><%= image_tag goal.image, :size =>'200x200' %>
        </p>
        </div>
        </label>
      </li>
  <% end %>
    
</ul>
</div>



<br>
<div class="submit_button">
<%= f.submit "決定!!", class: "button" %>
</div>
<% end %>
</div>
<br><br>



<div class="container text-center">
  <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <%= form_for @goal do |form| %>
      <div class="modal-content">
        <div class="modal-body">

            <div class="create_goal">
              <%= form.text_field :name, placeholder: "なりたいもの" ,class: "input_form" %>
              <%= form.text_field :time, placeholder: "かかる時間" ,class: "input_form" %>
              <%= form.text_field :image, placeholder: "イメージ画像" ,class: "input_form_image" %>
            </div>

        </div>
        <div class="modal-footer">
          <%= form.submit "作成!", class: "btn btn-primary"%>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
</div>
